<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <form method="POST" action="/chat">
        <input placeholder="Who are you?" name="from" type="text">
        <br><br/>
        <textarea placeholder="Enter your message" name="msg" >
        </textarea>
        <br><br>
        <input placeholder="Whom do you want to send" name="to" type="text">
        <br><br>
        <form>
            <button class="but">SUBMIT</button>
        </form>
    </form>
</body>
</html>